<span id="current_user_id" data-current-user-id="<%= current_user.id %>"></span>

<li id="tab-videos"><%= link_to "Videos", casein_videos_path %></li>
<li id="tab-monthly_reports"><%= link_to "Monthly reports", casein_monthly_reports_path %></li>
<li id="tab-gears"><%= link_to "Gears", casein_gears_path %></li>
<li id="tab-car_gears"><%= link_to "Car gears", casein_car_gears_path %></li>
<li id="tab-cars"><%= link_to "Cars", casein_cars_path %></li>
<li id="tab-car-groups"><%= link_to "Car Group", casein_car_groups_path %></li>
<li id="tab-brands"><%= link_to "Brands", casein_brands_path %></li>
<li id="tab-articles"><%= link_to "Articles", casein_articles_path %></li>
<li id="tab-top_seller_car_monthlies"><%= link_to "Top Seller Monthly", casein_top_seller_car_monthlies_path %></li>
<li id="tab-vnexpress_crawlers"><%= link_to "Crawlers", casein_vnexpress_crawlers_path %></li>
<li id="tab-notifications"><%= link_to "Notifications", casein_notifications_path %></li>