// CASEIN CUSTOM
// Use this file for your project-specific Casein JavaScript
//= require socket.io
//= require bootstrap-notify.min
//= require bootstrap-datepicker
//= require jquery.minicolors

$(document).ready(function(){
    $('.datepicker').datepicker({
        format: "mmyyyy",
        viewMode: "months",
        minViewMode: "months"
    });

    $('.colorpicker').minicolors({
        theme: 'bootstrap'
    })
});

// $(document).ready(function () {
//     var socket = io.connect("<%= Rails.application.config.server_infos[:node][:url] %>", {reconnect: true});
//     socket.on('video_created', function (data) {
//         if (data) {
//             var receivedData = JSON.parse(data);
//             $.notify({
//                 icon: 'glyphicon glyphicon-' + receivedData.type + '-sign',
//                 message: receivedData.message,
//                 url: receivedData.url
//             }, {
//                 type: receivedData.type,
//                 url_target: '_blank',
//                 timer: 5000,
//                 placement: {
//                     from: "top",
//                     align: "right"
//                 },
//             });
//         }
//     });
// });


