<%= search_form_for [:casein, @q], class: 'form-horizontal' do |f| %>
    <div class="form-group">
      <%= f.label :name_cont, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.search_field :name_cont, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :brand_id_eq, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.select :brand_id_eq, Brand.all.map{|i| [i.name, i.id]}, {}, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
      </div>
    </div>
<% end %>